.loader {
  width: max(16px, 5vh);
  height: max(16px, 5vh);
  border: 5px solid rgba(77, 77, 77, 1);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
